body {
  /* margin: 0;
  padding: 0; */
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  margin: 0px;
  overflow: hidden;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

html { 
  height: 100%;
  overflow: hidden;
  background: url(assets/images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
